# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
build_context/
*coverage*

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

## Vscode
*.code-workspace
.vscode

# Mac
.DS_Store


## Ruff
.ruff_cache/

## UV
**.uv-cache

# Virtual environments
.venv
.aicrowd
game_logs/
executables/pokemon_red/pyboy/pokered.gbc
.DS_Store
.cursor/
logs/


# Wandb
wandb/